.bio-container {
  height: 100vh;
  background-color: white;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bio-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 25vw;
  padding-top: 7rem;
}

.pics-bio {
  width: 9vw;
}

.bio-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
}

.bio-title {
  font-size: 3em;
  padding-top: 8rem;
}

.bio-text {
  text-align: justify;
  font-size: 0.9em;
  padding-top: 1rem;
}

.bio-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 25vw;
  padding-top: 7rem;
}

@media (min-width: 820px) and (max-width: 1023px) {
  .bio-container {
    gap: 0.5rem;
  }

  .bio-left {
    width: 25vw;
    gap: 10rem;
  }
  
  .pics-bio {
    width: 15vw;
  }
  
  .bio-center {
    width: 50vw;
  }
  
  .bio-title {
    font-size: 4em;
  }
  
  .bio-text {
    text-align: justify;
    font-size: 1em;
  }
  
  .bio-right {
    width: 25vw;
    gap: 10rem;
  }
  
}

@media (max-width: 819px) {
  .bio-title {
    font-size: 20px;
    margin-left: 190px;
    margin-bottom: 30px;
    margin-top: 10;
  }
}