.bio-container {
  height: 100vh;
  background-color: white;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bio-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 25vw;
}

.pics-bio {
  width: 9vw;
}

.bio-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
}

.bio-title {
  font-size: 3em;
  padding-top: 8rem;
}

.bio-text {
  text-align: justify;
  font-size: 0.9em;
  padding-top: 1rem;
}

.bio-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 25vw;
}

@media (min-width: 820px) and (max-width: 1023px) {
  .bio-container {
    gap: 0.5rem;
  }

  .bio-left {
    width: 25vw;
    gap: 10rem;
  }
  
  .pics-bio {
    width: 15vw;
  }
  
  .bio-center {
    width: 50vw;
  }
  
  .bio-title {
    font-size: 4em;
  }
  
  .bio-text {
    text-align: justify;
    font-size: 1em;
  }
  
  .bio-right {
    width: 25vw;
    gap: 10rem;
  }
  
}

@media (max-width: 819px) {
  .bio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
  }
  
  .bio-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  
  .pics-bio {
    width: 15vw;
  }
  
  .bio-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65vw;
    height: 65vh;
  }
  
  .bio-title {
    font-size: 2em;
    padding-top: 2rem;
  }
  
  .bio-text {
    text-align: justify;
    font-size: 0.5em;
  }
  
  .bio-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}