.body-container {
  height: 100vh;
  background-image: linear-gradient(91deg, #ffffff 0%, #a7ede7 52%, #45cfdd 68%, #6527be 100%);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.left-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}

.right-body {
  display: flex;
  justify-content: flex-start;
  width: 50vw;
}

.hola-text {
  font-weight: bold;
  font-size: 10em;
}

.sole-text {
  font-size: 1.3em;
}

.my-pic {
  max-height: 60vh;
}

.my-pic, .pics-bio {
  --m:
    radial-gradient(circle farthest-side at right,#000 99%,#0000) 
      0 100%/46% 92% no-repeat,
    radial-gradient(circle farthest-side at left ,#000 99%,#0000) 
      100% 0/46% 92% no-repeat;
  -webkit-mask: var(--m);
          mask: var(--m);
  filter: grayscale(.5);
  transition: .4s linear;
  cursor: pointer;
}

.my-pic:hover, .pics-bio:hover {
  -webkit-mask-position: 7.5% 50%,92.5% 50%;
          mask-position: 7.5% 50%,92.5% 50%;
  filter: grayscale(0);
}

@media (min-width: 820px) and (max-width: 1023px) {
  .body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .left-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
  }
  
  .right-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    padding: 5em;
  }
  
  .my-pic {
    max-width: 85%;
  }
}

  @media (max-width: 819px) {
    .body-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    .left-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90vw;
    }
    
    .right-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90vw;
      padding: 5em;
    }
    
    .hola-text {
      font-weight: bold;
      font-size: 6em;
    }
    
    .sole-text {
      font-size: 0.8em;
    }
    
    .my-pic {
      max-width: 40vh;
    }
  }