.body-container {
  height: 90vh;
  background-image: linear-gradient(91deg, #ffffff 0%, #a7ede7 52%, #45cfdd 68%, #6527be 100%);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.left-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-body {
  display: flex;
  justify-content: center;

}

.hola-text {
  font-weight: bold;
  font-size: 150px;
}

.sole-text {
  font-size: 20px;
}

.my-pic {
  max-width: 50%;
}

.my-pic, .pics-bio {
  --m:
    radial-gradient(circle farthest-side at right,#000 99%,#0000) 
      0 100%/46% 92% no-repeat,
    radial-gradient(circle farthest-side at left ,#000 99%,#0000) 
      100% 0/46% 92% no-repeat;
  -webkit-mask: var(--m);
          mask: var(--m);
  filter: grayscale(.5);
  transition: .4s linear;
  cursor: pointer;
}

.my-pic:hover, .pics-bio:hover {
  -webkit-mask-position: 7.5% 50%,92.5% 50%;
          mask-position: 7.5% 50%,92.5% 50%;
  filter: grayscale(0);
}

@media (min-width: 820px) and (max-width: 1023px) {
  .body-container {
    height: 94vh;
    flex-direction: column;
    justify-content: center;
    gap: 10rem;
  }

  .my-pic {
    max-width: 70%;
  }
}

  @media (max-width: 819px) {
    .hola-text {
      font-weight: bold;
      font-size: 1px;
    }
  
    .my-pic {
      height: 6%;
    }
  }