.contact-container {
  background-color: #45cfdd;
  background-image: linear-gradient(168deg, #45cfdd 0%, #6527be 40%);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-title {
  font-size: 50px;
  margin-left: 20px;
  margin-top: 100px;
  margin-bottom: 50px;
}

form {
  width: 50%;
  height: 50%;
  padding: 3%;
  background-image: linear-gradient(90deg, white 0%, rgb(69, 207, 221) 21%, rgb(101, 39, 190) 100%);
  color: black;
  font-weight: bold;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

}

label {
  width: 20%;
  text-align: left;
}

input,
textarea {
  font: 1em;
  width: 90%;
  box-sizing: border-box;
  border: 1px solid rgb(69, 207, 221);
  border-radius: 8px;
  padding: 12px 20px;
}

textarea {
  height: 80%;
  resize: none
}

#form-button {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
  border: 1px solid rgb(69, 207, 221);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border-radius: 8px;
  height: 50%;
  width: 15%;
  margin-top: 10px;
  cursor: pointer;
}

#form-button:hover {
  color: white;
  background-color: black;
  transition: 0.7s;
}

.rrss-icons {
  height: 80px;
  margin-top: 50px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.github-icon {
  height: 40px;
  margin-right: 50px;
}

.instagram-icon {
  height: 48px;
  margin-right: 50px;
}

.linkedin-icon {
  height: 38px;
  margin-right: 50px;
}

.pinterest-icon {
  height: 40px;
}