.nav {
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 0 0 0 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  z-index: 100;
  width: 100dvw;
}

.nav-left {
  font-size: 1.6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  width: 50vw;
  padding-left: 4rem;
}

.nav-right {
  display: flex;
  flex-direction: row;
  justify-self: center;
  gap: 8rem;
  padding: 1.6rem;
  flex-shrink: 0;
  width: 50vw;
}

.bio-button {
  background-color: transparent;
  border: none;
  color: white;
  position: relative;
  border: none;
  transition: .4s ease-in;
  z-index: 1;
  width: 8rem;
  padding: 6px;
  cursor: pointer;
}

.bio-button::before,
.bio-button::after {
  position:absolute;
  content: "";
  z-index: -1;
}

.bio-button:hover {
  border: 2px solid white;
  font-weight: bold;
  font-size: larger;
}

.projects-button {
  background-color: transparent;
  border: none;
  color: white;
  position: relative;
  border: none;
  transition: .4s ease-in;
  z-index: 1;
  width: 8rem;
  padding: 6px;
  cursor: pointer;
}

.projects-button::before,
.projects-button::after {
  position:absolute;
  content: "";
  z-index: -1;
}

.projects-button:hover {
  border: 2px solid white;
  font-weight: bold;
  font-size: larger;
}

.contact-button {
  background-color: transparent;
  border: none;
  color: white;
  position: relative;
  border: none;
  transition: .4s ease-in;
  z-index: 1;
  width: 8rem;
  padding: 6px;
  cursor: pointer;
}

.contact-button::before,
.contact-button::after {
  position:absolute;
  content: "";
  z-index: -1;
}

.contact-button:hover {
  border: 2px solid white;
  font-weight: bold;
  font-size: larger;
}

@media (min-width: 820px) and (max-width: 1023px) {
  .nav-left {
    font-size: 1.2em;
    flex-shrink: 0;
  }

  .nav-right {
    display: flex;
    flex-direction: row;
    justify-self: center;
    gap: 0rem;
    flex-shrink: 0;
  }
  }

  @media (max-width: 819px) {
    .nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    .nav-left {
      font-size: 1.3em;
      width: 70vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 0;
    }

    .nav-right {
      gap: 1.2rem;
      padding: 0;
      width: 90vw;
    }

    .bio-button {
      width: 6rem;
    }

    .bio-button:hover {
      border: none;
      font-weight: bold;
      font-size: larger;
    }

    .projects-button {
      width: 6rem;
    }

    .projects-button:hover {
      border: none;
      font-weight: bold;
      font-size: larger;
    }
 
    .contact-button {
      width: 6rem;
    }

    .contact-button:hover {
      border: none;
      font-weight: bold;
      font-size: larger;
    }
    

  }