.nav {
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 0 0 0 150px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  z-index: 100;
  width: 100dvw;
}

.nav-left {
  font-size: 1.6em;
  margin-top: 1.2rem;
  margin-left: 5rem;
  flex-shrink: 0;
}

.nav-right {
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
  justify-self: center;
  gap: 10rem;
  padding: 1.6rem;
  flex-shrink: 0;
}

.bio-button {
  background-color: transparent;
  border: none;
  color: white;
  position: relative;
  border: none;
  transition: .4s ease-in;
  z-index: 1;
  width: 8rem;
  padding: 6px;
  cursor: pointer;
}

.bio-button::before,
.bio-button::after {
  position:absolute;
  content: "";
  z-index: -1;
}

.bio-button:hover {
  border: 2px solid white;
  font-weight: bold;
  font-size: larger;
}

.projects-button {
  background-color: transparent;
  border: none;
  color: white;
  position: relative;
  border: none;
  transition: .4s ease-in;
  z-index: 1;
  width: 8rem;
  padding: 6px;
  cursor: pointer;
}

.projects-button::before,
.projects-button::after {
  position:absolute;
  content: "";
  z-index: -1;
}

.projects-button:hover {
  border: 2px solid white;
  font-weight: bold;
  font-size: larger;
}

.contact-button {
  background-color: transparent;
  border: none;
  color: white;
  position: relative;
  border: none;
  transition: .4s ease-in;
  z-index: 1;
  width: 8rem;
  padding: 6px;
  cursor: pointer;
}

.contact-button::before,
.contact-button::after {
  position:absolute;
  content: "";
  z-index: -1;
}

.contact-button:hover {
  border: 2px solid white;
  font-weight: bold;
  font-size: larger;
}

@media (min-width: 820px) and (max-width: 1023px) {
  .nav-left {
    font-size: 1em;
    margin-top: 1.8rem;
    margin-left: 3rem;
    flex-shrink: 0;
  }

  .nav-right {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 4rem;
    flex-shrink: 0;
  }
  }

  @media (max-width: 819px) {
    
  }